*.pyc
.project
.pydevproject
.settings
.tox/
.cache
.idea
*.coverage
*~
private_settings.py
build
docs/_build
dist
*egg-info*
htmlcov
test-reports
bin/
include/
lib/
distribute*
share/
*.sqlite3
*.swp
.DS_store
*coverage.xml
OLD-out-of-date
.tox
node_modules/
staticfiles/
